body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
}

.container {
    display: flex;
    flex-direction: column;  /* stack children vertically */
    gap: 10px;               /* space between divs */
  }

.container p {
    text-align: center;
}

.google1 {
    color: #4285F4;
}
.google2 {
    color: #EA4335;
}
.google3 {
    color: #F4B400;
}
.google4 {
    color: #34A853;
}

form select, input {
    padding: 5px;
    width: 300px;
}
.halfsize {
    width: 132px;
}
#search-box {
    border-radius: 2em;
    padding: 10px;
    font-size: 1em;
    width: 600px;
    height: 2em;
    border: solid 1px #aaa;
}
#advanced-button {
    padding: 10px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to bottom, #4d90fe,#357ae8);
    color: white;
    border: 1px solid #2f5bb7;
    box-shadow: none;
}

.search-button {
    background-color: #f8f9fa;
    color: #202124;
    border: 0;
    box-shadow: 0;
    padding: 10px;
}
.search-button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;

}
    
#search-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}
#search-menu a {
    margin: 0 8px 0 8px;
    text-decoration: none;
    color: black;
    font-size: .9em;
    font-family: Arial, Helvetica, sans-serif;
}
#search-menu a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0 auto;
    color: #2c3e50;
    font-size: 4em;
    margin-bottom: 20px;
}

#search-options {
    border: 0;
    width: 100%;
    margin-top: 1em;
    border-collapse: collapse;
}

#search-options td {
    padding-top: 5px;
    padding-bottom: 5px;
}