body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
}
.container {
    display: flex;
    flex-direction: column;  /* stack children vertically */
    gap: 10px;               /* space between divs */
  }

.container p {
    text-align: center;
}

.google1 {
    color: #4285F4;
}
.google2 {
    color: #EA4335;
}
.google3 {
    color: #F4B400;
}
.google4 {
    color: #34A853;
}

form select, input {
    width: 200px;
}

#search-box {

    border-radius: 20px;
    padding: 10px;
    width: 300px;
    border: solid 1px #aaa;
}
#advanced-button {
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    background-color: blue;
    color: white;
}

.search-button {
    padding: 10px;
}
#search-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}
h1 {
    color: #2c3e50;
    font-size: 4em;
    margin-bottom: 20px;
}

#search-options {
    border: 0;
}